<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


  <!--  <bean id="c" class="com.masai.Car"/>

    <bean id="B" class="com.masai.Bike"/>

    <bean id="tr" class="com.masai.Travel">
       &lt;!&ndash; <property name="v" ref="B"/>
        <property name="numberOFPerson" value="23"/>&ndash;&gt;   &lt;!&ndash;if you use set method then is will call  &ndash;&gt;

        <constructor-arg name="v" ref="c"/>
        <constructor-arg name="numberOFPerson" value="5"/>
    </bean>

   &lt;!&ndash; <bean id="md" class="com.we.MyBusinessClass">
        <property name="age" value="24"/>
        <property name="name" value="Aman"/>

    </bean>&ndash;&gt;-->




   <!-- <bean id="aid" class="com.masai.A">
&lt;!&ndash;        <constructor-arg name="b1" ref="bid"/>&ndash;&gt;
        <property name="b1" ref="bid"/>
    </bean>

    <bean id="bid" class="com.masai.B">
        <constructor-arg name="a1" ref="aid"/>
    </bean>
-->








    <bean id="db" class="com.we.DAOBean" />


    <bean id="sb" class="com.we.ServiceBean" >
        <property name="dao" ref="db"/>
    </bean>


    <bean id="pb" class="com.we.PresentationBean" >
        <property name="service" ref="sb"/>
    </bean>
</beans>